<div *ngIf="model$ | async; else error">
  <form>
      <h2>Search GitHub Users</h2>
      <input
        type="search"
        [formControl]="searchInput"
        placeholder="Username..."
      />
      <p *ngIf="model.pageable.totalItemsCount !== 0">
        Users found: {{ model.pageable.totalItemsCount }}
      </p>
  </form>

  <div class="wrap">
    <app-user-item *ngFor="let user of model.users" [user]="user"></app-user-item>
  </div>

  <app-loader *ngIf="model.loading$ | async"></app-loader>

  <button
    *ngIf="showLoadMoreBtn()"
    class="btn btn__load-more"
    (click)="loadMore()"
  >
    Load More
  </button>

  <app-error *ngIf="model.error" [text]="'Users Not Found...'"></app-error>
</div>

<ng-template #error>
  <app-error></app-error>
</ng-template>