<!-- <div *ngIf="model"> -->
  <form class="container">
    <div class="container__search">
      <h2>Search GitHub Users</h2>
      <input
        class="search"
        type="search"
        [formControl]="searchInput"
        placeholder="Username..."
      />
      <p *ngIf="pageable.totalItemsCount !== 0">
        Users found: {{ pageable.totalItemsCount }}
      </p>
    </div>
  </form>

  <div class="wrap">
    <app-user-item *ngFor="let user of users" [user]="user"></app-user-item>
  </div>

  <app-loader *ngIf="loading$ | async"></app-loader>

  <button
    *ngIf="showLoadMoreBtn()"
    class="btn btn__load-more"
    (click)="loadMore()"
  >
    Load More
  </button>

  <app-error *ngIf="error" [text]="'Users Not Found...'"></app-error>
<!-- </div> -->