
ul {
    list-style: none;
}

section {
    border: 1px solid black;
    padding: 1rem;

    header {
        margin-bottom: 1rem;
    }
}

p {
    text-align: center;
}

.repo {
    display: flex;
    align-items: center;
    padding: .4rem 1rem;
    border: 1px solid var(--light-color);
    margin-bottom: .5rem;
    border-radius: 10px;

    a {
        color: var(--dark-color);
        text-decoration: none;
        padding-left: 10px;

        &:hover {
            color: #666;
        }
    }
}