<app-error *ngIf="error" text="User did not load..."></app-error>

<div *ngIf="!error && (model$ | async)">
  <div class="github-card profile-card">
    <div class="header user"></div>
    <a class="avatar" [href]="baseUrl + model.user.login" target="_blank">
      <img [src]="model.user.avatar_url + '&s=80'" [alt]="model.user.login" />
    </a>
    <div class="content">
      <h1>{{ model.user.name }}</h1>
      <ul class="status">
        <li>
          <a
            [href]="baseUrl + model.user.login + '?tab=repositories'"
            target="_blank"
          >
            <strong>{{ model.user.public_repos }}</strong
            >Repos
          </a>
        </li>
        <li>
          <a
            [href]="baseUrl + model.user.login + '?tab=following'"
            target="_blank"
          >
            <strong>{{ model.user.following }}</strong
            >Following
          </a>
        </li>
        <li>
          <a
            [href]="baseUrl + model.user.login + '?tab=followers'"
            target="_blank"
          >
            <strong>{{ model.user.followers }}</strong
            >Followers
          </a>
        </li>
      </ul>
    </div>
  </div>

  <app-profile-details [user]="model.user"></app-profile-details>

  <app-loader *ngIf="model.loading$ | async"></app-loader>
</div>