<main *ngIf="user; else noUser">
    <div class="github-card profile-card">
        <div class="header User"></div>
        <a class="avatar" [href]="baseUrl+user.login" target="_blank">
            <img [src]="user.avatar_url+'&s=80'" [alt]="user.name" />
        </a>
        <div class="content">
            <h1>{{user.name}}</h1>
            <ul class="status">
                <li>
                    <a [href]="baseUrl+user.login+'?tab=repositories'" target="_blank">
                        <strong>{{user.public_repos}}</strong>Repos
                    </a>
                </li>
                <li>
                    <a [href]="baseUrl+user.login+'?tab=following'" target="_blank">
                        <strong>{{user.following}}</strong>Following
                    </a>
                </li>
                <li>
                    <a [href]="baseUrl+user.login+'?tab=followers'" target="_blank">
                        <strong>{{user.followers}}</strong>Followers
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <section>
        <div>
            <h3>Repos</h3>
            <div class="container">
                <app-repos [repos]="repos"></app-repos>
            </div>
        </div>
        <div>
            <h3>Following</h3>
            <div class="container">
                <app-users-list [users]="following"></app-users-list>
            </div>
        </div>
        <div>
            <h3>Followers</h3>
            <div class="container">
                <app-users-list [users]="followers"></app-users-list>
            </div>
        </div>
    </section>
</main>
<ng-template #noUser>
    <app-error [text]="'User Not Found...'"></app-error>>
</ng-template>