
:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 60px 20px 60px 20px;

    @media screen and (min-width: 400px) {
        padding: 60px 30px 60px 30px;
        transition-property: margin;
        transition-duration: .2s;
    }
    @media screen and (min-width: 680px) {
        padding: 60px 50px 60px 50px;
        transition-property: margin;
        transition-duration: .2s;
    }
}

.github-card {
    text-align: center;
    border-radius: 5px;
    background: #fff;
    color: #555;
    position: relative;

    .header {
        position: relative;
        padding: 0;
        margin: 0;
        height: 148px;
        border-radius: 4px 4px 0 0;
        background-size: cover;
        background-position: center;
        background-color: #000;
    }
    .avatar {
        display: inline-block;
        overflow: hidden;
        background: #fff;
        border-radius: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        text-decoration: none;
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    .avatar:hover {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    h1 {
        color: #111;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
    }
    ul {
        text-transform: uppercase;
        font-size: 12px;
        color: #707070;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        zoom: 1;
    }
    ul:after {
        display: block;
        content: '';
        clear: both;
    }
    .status li {
        float: left;
        padding: 8px 0;
        box-shadow: 1px 0 0 #eee;
    }
    .status li:last-of-type {
        box-shadow: none;
    }
    .status strong {
        display: block;
        color: #292f33;
        font-size: 16px;
        line-height: 1.6;
    }
    .status a {
        color: #707070;
        text-decoration: none;
    }
    .user {
        background-position: top left;
    }
}

.profile-card { 
    .header {
        background-image: url('https://cdn-images-1.medium.com/max/2000/1*19LWzzJJDPqGq67Vyd0EjQ.jpeg');
    }
    .user {
        background-position: top left;
    }
    .organization {
        background-position: top right;
    }
    .avatar {
        margin-top: -40px;
        border: 3px solid #fff;
        position: relative;

        img {
            max-width: 80px;
            max-height: 80px;
        }
    }
    .profile-card img {
        display: block;
        width: 80px;
        height: 80px;
    }
    h1 {
        letter-spacing: -0.06em;
        margin: 16px 0 20px;
        line-height: 1;
    }
    .status li {
        width: 33%;
    }
}

section {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    .container {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
    .wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    button {
        background: var(--red-color);
        color: var(--white-color);
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 0.5rem 1.5rem;
        display: block;
        width: 100%;
        border: none;
        cursor: pointer;
        transition: opacity 0.2s;
        outline: none;
        position: absolute;
        bottom: 0;
        max-width: 16rem;

        &:disabled {
            background: var(--dark-color);
            color: var(--white-color);
            cursor: not-allowed;
        }
        &:hover:not(:disabled) {
            opacity: .8;
        }
    }

    @media screen and (max-width: 800px)  
    {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 600px)  
    {
        grid-template-columns: 1fr;
    }
}