:host {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 60px 20px 60px 20px;

    @media screen and (min-width: 400px) {
        padding: 60px 30px 60px 30px;
        transition-property: margin;
        transition-duration: .2s;
    }
    @media screen and (min-width: 680px) {
        padding: 60px 50px 60px 50px;
        transition-property: margin;
        transition-duration: .2s;
    }
}

.details {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    .container {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        padding: 10px;
    
        .wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        button {
            background: var(--red-color);
            color: var(--white-color);
            font-size: 1.5rem;
            border-radius: 10px;
            padding: 0.5rem 1.5rem;
            display: block;
            width: 100%;
            border: none;
            cursor: pointer;
            transition: opacity 0.2s;
            outline: none;
            position: relative;
            bottom: 0;
            max-width: 16rem;
            max-height: 3rem;

            &:disabled {
                background: var(--dark-color);
                color: var(--white-color);
                cursor: not-allowed;
            }
            &:hover:not(:disabled) {
                opacity: .8;
            }
        }
    }

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}